

h1, h2, h3, h4 {
  font-weight: 600;
}

.product-card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border-radius: 12px;
}

.product-card:hover {
  transform: scale(1.03);
  box-shadow: 0px 6px 20px rgba(202, 127, 127, 0.868);
}

.product-img {
  height: 200px;
  object-fit: contain;
}

footer {
  background-color: #212529;
}

hr {
  border-top: 2px solid #ccc;
}
