:root {
  line-height: 1.5;
  font-weight: 400;
  background-color: #fff6fa;
  font-family: "Caudex", serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 95%;
  font-family: "Caudex", serif;
  overflow-x: hidden;

}

main {
  margin-top: 160px;
  text-align: center;
  color: #7d5b67;
  padding: 1rem;
  margin-left: 1rem;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #b35c82;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #a04a6f;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #234721;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    gap: 12px;
    padding: 0;
    margin-top: 10px;
  }

  nav li {
    width: 100%;
    text-align: center;
  }
}

.greeting {
  font-size: 1.6rem;
}

@media (max-width: 768px) {
  .greeting {
    font-size: 1.2rem;
  }
}

